*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 1320px;
    margin: auto;
}


/* common css */
/* navbar start */

header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
header #navbar{
    background-color: #7A1CAC;
    /* background: rgb(158,157,157);
    background: linear-gradient(90deg, rgba(158,157,157,1) 0%, rgba(139,160,222,1) 25%, rgba(97,97,221,1) 50%, rgba(86,86,219,1) 75%, rgba(14,43,199,1) 100%); */
    line-height: 50px;
}
#navbar .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .main .logo{
    letter-spacing: 2px;
}
#navbar .main .logo a{
    font-size: 22px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    color: lightblue;
}
#navbar .main .logo a span{
    transition: .4s;
    color: #681212;
}
#navbar .main .logo a:hover span{
    color: #fcfcfc;
}
#navbar .main .menu{
    display: flex;
    align-items: center;
    gap: 40px;
}
#navbar .main .menu ul{
    display: flex;
    gap: 24px;
}
#navbar .main .menu ul li{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
#navbar .main .menu ul li a{
    letter-spacing: 1px;
    font-size: 19px;
    color: #EBD3F8;
    position: relative;
}
#navbar .main .menu ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #e9d0f7;
    position: absolute;
    left: 0;
    bottom: 10px;
    border-radius: 3px;
    transition: 0.4s;
}
#navbar .main .menu ul li a:hover:after{
    width: 100%;
}
#navBtn{
    padding: 8px 20px;
    color: #e9d0f7;
    margin: 10px 0;
    width: auto;
    height: auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    background-color: darkblue;
    transition: .3s;
    font-family: cursive;
    font-weight: 600;
    letter-spacing: 2px;
}
#navBtn:hover{
    background-color: #2c2e44;
    color: #fcfcfc;
}

/* navbar end */
/* banner start */
#banner{
    position: relative;
    background: rgb(235,211,248);
    background: linear-gradient(90deg, rgba(235,211,248,1) 0%, rgba(173,73,225,1) 33%, rgba(122,28,172,1) 66%, rgba(46,7,63,1) 100%);
    width: 100vw;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#banner .main{
    padding-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 20px;
    justify-items: center;
    align-items: center;
}
#banner .main .txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 60px;
}
#banner .main .txt h2{
    font-size: 55px;
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif;
    color: #2c2e44;
}
#banner .main .txt p{
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0 20px;
}
#banner .main .txt #bannerBtn{
    color: #681212;
    padding: 10px 30px;    
    border-radius: 10px;
    border: none;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
    background-color: #ffffff;
    transition: 0.3s;
}
#banner .main .txt #bannerBtn:hover{
    background-color: #aaaaaa;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
}
#banner .main .img{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #banner .main .img iframe{ */

/* #banner .main .img img{
    height: 100%;
    width: 50%;
    filter: drop-shadow(0px 0px 5px 0.5);
} */




/* banner end */


